/*
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Lexend', sans-serif;

.sigmar-one-regular {
    font-family: "Sigmar One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900


.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
*/

.lexend{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.dummyClass {
    color: #57A0FF;
    color: #FFB657;
    color: #A0FF57;
    color: #B657FF;
}

html {
    box-sizing: border-box;
    background-color: #57A0FF;
    font-family: "Lexend", sans-serif;
    font-weight:bold;
}

header {
    display: flex;
    background-color: #57A0FF;
}

.star-splash{
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;

}
.star-splash img{
    height: 40vw;
}
.cards-logo{
    display: flex;
    position: absolute;
    top: 10px;
    right: 40px;
    z-index: 1;
}
.cards-logo img {
    height: 22vw;
}
.blob {
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
}
.blob img {
    height: 15vw;
}

h1 {
    position: absolute;
    top: 12px;
    font-family: 'Sigmar One', cursive;
    font-size: 5vw;
    line-height: 12vw;
    color: #FFB657;
    text-shadow: 3px 3px 0px black;
    letter-spacing: 5px;
    -webkit-text-stroke: black 2px;
    rotate: 5deg;
    width: 90%;
    z-index: 1;
}

main {
    display: flex;
    position: absolute;
    top: 23vw;
    flex-direction: column;
    width: 100%;
}

.btnCol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.buttons-group{
    display: flex;
    margin-bottom: 10px ;
    flex-flow: column wrap;
    
}
.card-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cardCols{
    display: flex;
    justify-content: center;
    background-color: #57A0FF;
    width: 90%;
    margin-bottom: 20px;
}

.card { 
    display: flex;
    flex-direction: column;
    margin: 25px;
    border: 5px solid black;
    border-radius: 30px;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    box-shadow: 5px 5px black;
    width: 90%;
}
.cardTitle {
    display: flex;
    flex: 1;
    border: solid black 2px;
    border-radius: 25px 25px 0px 0px;
    background-color: #A0FF57;
    width: 100%;
    height:50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
}
.catArea {
    display: flex;
    padding-right: 20px;
    border-radius: 0px 0px 40px 40px;
    width: 100%;
}
.catHeadings {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 5px 0 5px 5px;
    padding: 5px;
    font-weight: bold;
}

.catInfo{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 5px 0 5px 5px;
    padding: 5px;
    font-weight: bold;
}
.info{
    margin: 5px;
    border: solid black 2px;
    border-radius: 50px;
    width: 100%;
    min-height: 3vw;
    background-color: #FFB657;
    color: black;
    font-weight: bold;
    text-align: center;
}

.crdImg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 100%;
    height: 200px;
    
}
.crdImg img{
    display: block;
    justify-items: center;
    max-width:80%;
    max-height: 200px;
    
}
.message-box{ 
    margin-bottom: 5px;
    border: solid black 5px;
    border-radius: 50px;
    width: 70vw;
    height: 100%;
    background-color: #FFB657;
    text-align: center;
    align-items: center;

}

button{
    margin: 5px;
    border: solid black 3px;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #B657FF;
    font-size: 1em;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.categoryBtn {
    margin: 5px;
    border: solid black 2px;
    border-radius: 50px;
    width: 100%;
    min-height: 3vw;
    background-color: #FFB657;
    color: black;
    font-weight: bold;
    text-align: center;
}
.categoryBtn:hover {
    border: solid black 4px;
}
#p1Cat6 {
    cursor: default;
}
#p1Cat6:hover {
    border: solid black 2px;
}
.cpu-category{
    margin: 5px;
    border: solid black 2px;
    border-radius: 50px;
    width: 100%;
    min-height: 3vw;
    background-color: #FFB657;
    color: black;
    font-weight: bold;
    text-align: center;
}

.how-to-play-box {
    display: none;
}
.show-how-to-play-box{
    display:block;
}

@media screen and (min-width: 550px){
    .card-container {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    .card {
        width: 95%;
    }
}