html {
    box-sizing: border-box;
    background-color: gray;
}

header {
    background-color: yellow;
}

h1 {
    color: blue;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: pink;
}

.btnCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.cardCols{
    display: flex;
    justify-content: center;
    background-color: orange;
    width: 40%;
}

.card { 
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: blue;
}
.cardTitle {
    border: solid black 2px;
    border-radius: 20pt;
    margin: 10px;
    background-color: rgb(22, 176, 187);
    width: 80%;

    text-align: center;
    font-size: 2em;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.catArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: brown;
    width: 100%;
    
}
.catHeadings {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 60%;
    margin: 5px 0 5px 5px;
    padding: 5px;
}
.category {
    background-color: aliceblue;
}
.catInfo{
    background-color: blueviolet;
    width: 40%;
    margin: 5px;
    padding: 5px;
}
.info{
    border: solid black 2px;
    margin: 5px;
    border-radius: 50px;
    background-color: rgb(7, 197, 255);
    width: 80%;
}

.crdImg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 100%;
    height: 200px;
    
}
.crdImg img{
    justify-items: center;
    max-width:80%;
    max-height: auto;
    display: block;
}
.message-box{ 
    width: 125px;
    height: 100px;
    background-color: brown;
}
button{
    width: 80%;
    border: solid black 2px;
    margin: 5px;
}
.categoryBtn {
    border: solid black 2px;
    margin: 5px;
    border-radius: 50px;
    background-color: rgb(7, 197, 255);
    width: 80%;

}

#how-to-play-btn {
    cursor: pointer;
}
.how-to-play-box {
    display: none;
}
.show-how-to-play-box{
    display:block;
}